.flex-container {
    display: flex;
    background-color: aliceblue;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.item {
    border: 2px solid black;
}

.about_me {
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


.sub-container {
    display: flex;
    justify-content: center;
}
.image {
    width: 100%;
    height: auto;
}
