.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: safe center;
    align-items: center;
    height: 200px
}
.About_me {
    display: flex;
    order: 0;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Photo {
    flex: 1;
    display: flex;
}
